body{
    background-color: black;
}

nav>h3{
    color: rgb(39, 223, 39);
}
nav{
    color:white;
    border: 2px solid none;
    border-radius: 10px;
    font-size: 1.3vw;
  
    
width:30%;
height: 500px;
    margin: 40px auto;
    text-align: center;
    background-color: rgb(23, 23, 20);
   padding-bottom: 10px;
   padding-top: 50px;
   font-family: Heebo, sans-serif;
    
}
div>p{
    border: solid 2px none;
    background-color: rgb(49, 52, 53);
    padding: 10px;
    border-radius: 10px;
    border-width: 5px;
    margin: 20px;
    color: white;
}
img{
    width: 100px;
    border-radius: 90%;
}
a{
    color: white;
    text-decoration: none;
    
}

